@import './base/common';
@import './base/container';

@import './utils/fonts';
@import './utils/variables';

@import './layout/header';
@import './layout/header_library';
@import './layout/gallery';
@import './layout/pagination';
@import './layout/footer';
@import './layout/modal';
@import './layout/btnUp.scss';
@import './layout/modal-team';
