<header class="header header--search">
  <div class="container header__container">
    <div class="header__nav">
      <button class="js-logo header__btn">
        <div class="header__logo"></div>
        <span class="header__text-logo">Filmoteka </span>
      </button>
      <div class="wrapper">
        <button class="header__home--current header__btn header__home-btn">
          Home
        </button>
        <!-- <a href="./library.html"> -->
        <a href="./library.html" class="js-lyb-btn header__btn header__lyb-btn">
          My lybrary
        </a>

        <!-- </a> -->
      </div>
    </div>
    <form class="js-search-form header_form is-hidden">
      <input
        class="header__input"
        type="text"
        name="searchQuery"
        autocomplete="off"
        placeholder="Movie search"
      />
      <button class="header__btn header__search-btn"></button>
    </form>
  </div>
</header>
