<header class="header header--lybrary">
  <div class="container header__container">
    <div class="header__nav">
      <button class="js-logo header__btn">
        <div class="header__logo"></div>
        <span class="header__text-logo">Filmoteka </span>
      </button>
      <div class="wrapper">
        <a href="./index.html" class="header__btn header__home-btn"> Home </a>

        <button class="header__lyb--current header__btn header__lyb-btn">
          My lybrary
        </button>
      </div>
    </div>
    <div class="wrap-lyb-nav">
      <button class="js-watched-btn header__lyb-nav-btn">Watched</button>
      <button class="js-queue-btn header__lyb-nav-btn">Queue</button>
    </div>
  </div>
</header>
